@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Karla';
}

/* HomePage Code Below */

.navbar{
    color: #d8d8d8;
    width: 100%;
    font-family: 'Karla';
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px;
    font-size: 15px;
    top: 0;
    left: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Karla';
    color: black;
    font-weight: bold;
}

.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 40px;
    padding: 0 30px;
}

.navbar ul li a:hover{
    background-color:whitesmoke;
}

body{
    background-color: #ffffff;
}

#selfie{
    width: 300px;
    margin-top: 80px;
    margin-left: 175px;
}

#selfie:hover{
    filter: grayscale(1);
    transition: 2s;
    cursor: pointer;
}

.content{
    font-family: 'Karla';
    color: black;
    margin-top: 15%;
    margin-left: 100px;
}

h1{
    font-size: 70px;
}

p{
    margin-top: 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btns{
    margin-top: 20px;
    background: rgb(231, 227, 227);
    cursor: pointer;
    color: black;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.btns:hover{
    background: #848482;
}

/* Get In Touch Code Below */

.contact-section{
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Karla';
    font-size: 40px;
}

.border{
    width: 100px;
    height: 10px;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgb(231, 229, 229);
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px rgb(102, 98, 98);
}

textarea.contact-form-text{
    resize: none;
    height: 100px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: rgb(226, 223, 223);
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: rgb(255, 255, 255);
}

/* Services Code Below  */

.services-section{
    background: white;
    padding: 60px;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
}

.border{
    width: 160px;
    height: 2;
    background: white;
    margin: 40px auto;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid black;
    color: black;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
}

.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 25px;
}

.service-box:hover .service-icon{
    background: #d9dcdd;
    color: rgb(0, 0, 0);
}

.service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc{
    font-size: 14px;
}

.sidebyside{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

@media screen and (max-width: 960px) {
    .service-box{
        max-width: 45%;

    }
}

@media screen and (max-width: 767px) {
    .service-box{
        max-width: 50%;

    }
}

@media screen and (max-width: 480px) {
    .service-box{
        max-width: 100%;

    }
}

/* About Me Code Below */

.container{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span{
    color: black;
    text-transform: uppercase;
    display: block;
}

.text1{
    color: black;
    font-family: 'Karla';
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: white;
    position: relative;
    animation: text 3s 1;;
}
.text2{
    font-size: 40px;
    font-family: 'Karla';
    color: black;
}

@keyframes text {
    0%{
        color: white;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }  
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }  
}

.aboutmetext{
    color: black;
    font-size: 15px;
    font-family: 'Karla';
    position:relative;
    margin-bottom: 40px;
    margin-top: 150px;
    padding: 20%;
    text-align: center;
    justify-content: space-around;
}